html {
    scroll-behavior: smooth;
    background-color: black;
    color: #FFFFFF;
}

body {
    color: #FFFFFF;
    background-color: #000000;
}

table {
    background-color: #000000;
    color: #FFFFFF;
}


/* DIV'S */

#id_topo {
    background-color: #000000;
    color: #FFFFFF;
}

#id_conteudo {
    width: 100%;
    padding: 5px;
    background-color: #000000;
    color: #FFFFFF;
}

#id_rodape {
    padding: 20px;
    background-color: #000000;
    color: #FFFFFF;
}


/* LINK'S */

a.a_rodape1:link {
    color: grey;
    text-decoration: none;
    background-color: #000000;
    font-size: 30px;
}

a.a_rodape1:hover {
    color: white;
    text-decoration: none;
    background-color: #000000;
    font-size: 30px;
    font-style: italic;
}

a.a_rodape1:visited {
    color: grey;
    text-decoration: none;
    background-color: #000000;
    font-size: 30px;
}

a.a_rodape2:link {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #000000;
    font-style: italic;
}

a.a_rodape2:hover {
    color: grey;
    text-decoration: none;
    background-color: #000000;
}

a.a_rodape2:visited {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #000000;
    font-style: italic;
}


/* TABLE'S */

table.table_unidade {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}


/* TH'S */

th.th_unidade {
    padding: 10px;
    color: #000000;
    background-color: #FFFFFF;
    border: #000000 2px dashed;
}


/* TD'S */

td.td_unidade {
    padding: 10px;
}