html {
    scroll-behavior: smooth;
    background-color: black;
}

body {
    color: #FFFFFF;
    background-color: #000000;
}

table {
    background-color: #000000;
}

img.img_abaixo {
    width: 50px;
    height: 50px;
}

img.img_abaixo1 {
    height: 50px;
}

#id_topo {
    padding: 20px;
}

#id_conteudo {
    padding: 20px;
    border: oldlace 1px dotted;
    border-radius: 5px;
}

#id_rodape {
    padding: 20px;
}

a.a_menu:link {
    color: #FFFFFF;
    text-decoration: none;
}

a.a_menu:hover {
    color: grey;
    text-decoration: none;
}

a.a_menu:visited {
    color: grey;
    text-decoration: none;
}

a.a_rodape1:link {
    color: #FFFFFF;
    text-decoration: none;
}

a.a_rodape1:hover {
    color: grey;
    text-decoration: none;
}

a.a_rodape1:visited {
    color: grey;
    text-decoration: none;
}