@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&family=Russo+One&family=Swanky+and+Moo+Moo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
    font-family: 'roots';
    src: url('../fonts/roots/Roots.ttf') format('truetype');
}


/* Viewport */

@viewport {
    zoom: 1.0;
    width: device-width;
}


/* Classes Superiores */

:root {
    --verde1: #1D3823;
    --verde2: #315E3C;
    --verde3: #3F794D;
    --verde4: #4A8F5A;
    --verde5: #66C47C;
    --fonte-russo: 'Russo One', sans-serif;
    --fonte-ubuntu: 'Ubuntu', sans-serif;
    --font-kalam: 'Kalam', cursive;
    --font-moo: 'Swanky and Moo Moo', cursive;
}

html {
    scroll-behavior: smooth;
    background-color: #4A4A4A;
}

body {
    color: #FFFFFF;
    background-color: #4A4A4A;
    background-attachment: fixed;
    background-size: 100%;
    font-family: "Open Sans", sans-serif;
    background-attachment: fixed;
    z-index: 0;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

ul,
ol,
li {
    list-style: none;
    text-align: left;
    font-size: 1em;
    font-family: var(--fonte-ubuntu);
}

p {
    text-align: left;
    text-indent: 40px;
    vertical-align: middle;
    font-family: var(--fonte-ubuntu);
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
    color: #333333;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

#idflutua {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    line-height: 100px;
    z-index: 100;
}

#div_oferecimento {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.7em;
    font-style: italic;
    text-align: left;
}

#idcorpo {
    border: dotted 2px #ffffff;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 1200px;
    width: 100%;
}

#div_verde {
    width: 100%;
    height: 100%;
    background-color: var(--verde4);
    text-align: center;
    color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 2;
}

#div_cinza {
    width: 100%;
    background-color: #4A4A4A;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    color: #FFFFFF;
    z-index: 3;
}

#div_preta {
    background-color: #000000;
}

#div_titulo {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    font-family: 'Russo One', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    width: 100%;
    min-height: 70px;
    height: auto;
    background-color: var(--verde2);
}

#div_conteudo {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

#div_espaco {
    opacity: 100%;
    height: 50px;
}

.nome_ {
    background-color: var(--verde2);
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titulo_ {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: 1px 1px 1px #000000;
}

.descricao_ {
    font-size: 1em;
    background-color: beige;
    color: #000000;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

.item_ {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 1.2em;
}

p.informacoes_ {
    text-align: justify;
    font-size: 1.2em;
}